<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <li th:fragment="languages" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLng" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{langs}"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownLng">
            <a class="nav-link" href="#" th:text="#{lang.en}" onclick="window.location.href='/?localeData=en'"></a>
            <a class="nav-link" href="#" th:text="#{lang.de}" onclick="window.location.href='/?localeData=de'"></a>
        </div>
    </li>
</body>
</html>