<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('About')">
</head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg navbar-expand-md">
                <img src="../static/img/black/groundzero__shortened_logo_black.png" class="img-fluid" id="image-bigger-screen" alt="Ground Zero IT Logo" th:src="@{/img/black/groundzero__shortened_logo_black.png}" />
                <img src="../static/img/black/groundzero__icon_2_black.png" class="img-fluid" id="image-smaller-screen" alt="Ground Zero IT Logo" th:src="@{/img/black/groundzero__icon_2_black.png}" />
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span style="font-size: 22px" class="dark-blue-text">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </button>
                <!-- Navbar -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/" th:href="@{/}" th:text="#{nav_home}"></a></li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav_about}"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href="/about" th:href="@{/about}" th:text="#{nav_about_us}"></a>
                                <a class="nav-link" href="/impressum" th:href="@{/impressum}" th:text="#{nav_impressum}"></a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/services" th:href="@{/services}" th:text="#{nav_services}"></a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact" th:href="@{/contact}" th:text="#{nav_contact}"></a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    <!-- Main content -->
    <main class="container">
        <h2 id="typewriter" th:data-typewriter="#{about_heading}">GND<strong>0</strong></h2>
        <hr />
        <p th:text="#{about_p1}"></p>
        <p th:text="#{about_p2}"></p>

        <br>

        <h3 th:text="#{about_heading_2}"></h3>
        <hr />
        <div class="row worker-container">
            <!-- Actually Good Example -->
            <div class="peopleBox">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <img src="../static/img/Peđa%20Milaković.jpg" th:src="@{/img/Peđa%20Milaković.jpg}" alt="Peđa Milaković" class="img-people-about rounded mx-auto d-block" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-auto">
                        <h4 th:text="#{about_role_1}"></h4>
                        <h5 style="font-family: 'Roboto', sans-serif; margin: 10px 0">Stamenko Dojčinović</h5>
                        <p>
                            <a class="people-link" href="https://www.linkedin.com/in/stamenko-dojcinovic-83b0201b6/" target="_blank">
                                <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                            <a class="people-link" href="mailto: stamenko.doj@gmail.com">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                            <a class="people-link" href="tel:+38765143454">
                                <i class="fa fa-phone fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="peopleBox">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <img src="../static/img/Peđa%20Milaković.jpg" th:src="@{/img/Peđa%20Milaković.jpg}" alt="Peđa Milaković" class="img-people-about rounded mx-auto d-block" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-auto">
                        <h4 th:text="#{about_role_2}">Deputy CEO</h4>
                        <h5 style="font-family: 'Roboto', sans-serif; margin: 10px 0">Peđa Milaković</h5>
                        <p>
                            <a class="people-link" href="https://www.linkedin.com/in/pedja-milakovic/" target="_blank">
                                <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                            <a class="people-link" href="mailto: pedjamilakovic1@gmail.com">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <h3 th:text="#{about_heading_3}">What we do</h3>
        <hr />
        <p th:text="#{about_p3}"></p>
        <p th:text="#{about_p4}"></p>
    </main>

    <div th:insert="fragments/footer :: footer"></div>
    <script type="text/javascript" src="../static/js/PedjangoJS.js" th:src="@{/js/PedjangoJS.js}"></script>
</body>
</html>