<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(#{about_title})"></head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header th:replace="fragments/header :: header"></header>
    </div>

    <!-- Main content -->
    <main class="container">
        <h2 id="typewriter" th:data-typewriter="#{about_heading}">GND<strong>0</strong></h2>
        <hr />
        <p th:text="#{about_p1}"></p>
        <p th:text="#{about_p2}"></p>

        <br>

        <h3 th:text="#{about_heading_2}"></h3>
        <hr />
        <div class="row worker-container">
            <!-- Actually Good Example -->
            <div class="peopleBox">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <img src="../static/img/Peđa%20Milaković.jpg" th:src="@{/img/Peđa%20Milaković.jpg}" alt="Peđa Milaković" class="img-people-about rounded mx-auto d-block" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-auto">
                        <h4 th:text="#{about_role_1}"></h4>
                        <h5 style="font-family: 'Roboto', sans-serif; margin: 10px 0">Stamenko Dojčinović</h5>
                        <p>
                            <a class="people-link" href="https://www.linkedin.com/in/stamenko-dojcinovic-83b0201b6/" target="_blank">
                                <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                            <a class="people-link" href="mailto: stamenko.doj@gmail.com">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                            <a class="people-link" href="tel:+38765143454">
                                <i class="fa fa-phone fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="peopleBox">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <img src="../static/img/Peđa%20Milaković.jpg" th:src="@{/img/Peđa%20Milaković.jpg}" alt="Peđa Milaković" class="img-people-about rounded mx-auto d-block" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-auto">
                        <h4 th:text="#{about_role_2}">Deputy CEO</h4>
                        <h5 style="font-family: 'Roboto', sans-serif; margin: 10px 0">Peđa Milaković</h5>
                        <p>
                            <a class="people-link" href="https://www.linkedin.com/in/pedja-milakovic/" target="_blank">
                                <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                            <a class="people-link" href="mailto: pedjamilakovic1@gmail.com">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true" style="margin-left: 15px; margin-right: 15px"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <h3 th:text="#{about_heading_3}">What we do</h3>
        <hr />
        <p th:text="#{about_p3}"></p>
        <p th:text="#{about_p4}"></p>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
    <script type="text/javascript" src="../static/js/PedjangoJS.js" th:src="@{/js/PedjangoJS.js}"></script>
</body>
</html>