<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(#{contact_title})">
</head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg navbar-expand-md">
                <img src="../static/img/black/groundzero__shortened_logo_black.png" class="img-fluid" id="image-bigger-screen" alt="Ground Zero IT Logo" th:src="@{/img/black/groundzero__shortened_logo_black.png}" />
                <img src="../static/img/black/groundzero__icon_2_black.png" class="img-fluid" id="image-smaller-screen" alt="Ground Zero IT Logo" th:src="@{/img/black/groundzero__icon_2_black.png}" />
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span style="font-size: 22px" class="dark-blue-text">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </button>
                <!-- Navbar -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/" th:href="@{/}" th:text="#{nav_home}"></a></li> <!-- href="index.html" th:href="@{index.html}" -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav_about}"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href="/about" th:href="@{/about}" th:text="#{nav_about_us}"></a>
                                <a class="nav-link" href="/impressum" th:href="@{/impressum}" th:text="#{nav_impressum}"></a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/services" th:href="@{/services}" th:text="#{nav_services}"></a></li>
                        <li class="nav-item active"><a class="nav-link" href="/contact" th:href="@{/contact}" th:text="#{nav_contact}"></a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLng" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{langs}"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownLng">
                                <a class="nav-link" href="#" th:text="#{lang.en}" onclick="window.location.href='/contact?localeData=en'"></a>
                                <a class="nav-link" href="#" th:text="#{lang.de}" onclick="window.location.href='/contact?localeData=de'"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    <!-- Main content -->
    <main class="container">
        <h2 id="typewriter" th:data-typewriter="#{contact_heading}" style="height: 2.5rem !important;">GND<strong>0</strong></h2>
        <hr />

        <br>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <img id="contact-image" src="../static/img/richard-lee-unsplash-owl.jpg" th:src="@{/img/richard-lee-unsplash-owl.jpg}" alt="Richard Lee - Owl" class="img-fluid">
                <p class="text-center text-under-picture"><em><span><span th:text="#{contact_photo_1}"></span><a class="unsplash-link" href="https://unsplash.com/@brock222?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Richard Lee</a> <span th:text="#{contact_photo_2}"></span><a class="unsplash-link" href="https://unsplash.com/s/photos/owl?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Unsplash</a></span></em></p>
                <br>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <h3 th:text="#{contact_heading_2}"></h3>
                <hr />
                <form action="#" th:action="@{/contact}" method="post">
                    <label class="form-check-label" for="subject" th:text="#{contact_label_1}"></label>
                    <select name="subject" id="subject" class="form-control">
                        <option th:value="#{contact_subject_option_1}" th:text="#{contact_subject_option_1}"></option>
                        <option th:value="#{contact_subject_option_2}" th:text="#{contact_subject_option_2}"></option>
                        <option th:value="#{contact_subject_option_3}" th:text="#{contact_subject_option_3}"></option>
                        <option th:value="#{contact_subject_option_4}" th:text="#{contact_subject_option_4}"></option>
                        <option th:value="#{contact_subject_option_5}" th:text="#{contact_subject_option_5}"></option>
                    </select>
                    <br/>

                    <label class="form-check-label" for="name" th:text="#{contact_label_2}"></label>
                    <input id="name" name="name" type="text" th:placeholder="#{contact_placeholder_1}" class="form-control" required minlength="3" maxlength="45"/>
                    <br/>

                    <label class="form-check-label" for="surname" th:text="#{contact_label_3}"></label>
                    <input id="surname" name="surname" type="text" th:placeholder="#{contact_placeholder_2}" class="form-control" required minlength="3" maxlength="45"/>
                    <br/>

                    <label class="form-check-label" for="email" th:text="#{contact_label_4}"></label>
                    <input id="email" name="email" type="email" th:placeholder="#{contact_placeholder_3}" class="form-control" required maxlength="45"/>
                    <br/>

                    <label class="form-check-label" for="message" th:text="#{contact_label_5}"></label>
                    <textarea id="message" name="message" cols="10" rows="5" th:placeholder="#{contact_placeholder_4}" class="form-control" required minlength="10" maxlength="500"></textarea>
                    <br/>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center">
                            <button type="reset" class="btn btn-reset contact-button-class" th:text="#{contact_btn_reset}"></button>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center">
                            <button type="submit" class="btn btn-submit contact-button-class" th:text="#{contact_btn_submit}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
    <script type="text/javascript" src="../static/js/PedjangoJS.js" th:src="@{/js/PedjangoJS.js}"></script>
</body>
</html>