<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(#{error_title})"></head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header th:replace="fragments/header :: header"></header>
    </div>

    <!-- Main content -->
    <main class="container text-center">
        <h2 th:text="#{error_heading}"></h2>
        <hr />
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-6-md col-sm-12" style="margin-bottom: 20px">
                <div id="error-box">
                    <br>
                    <h3 class="align-middle"><span th:text="#{error_heading_2}"></span> <strong th:text="${status}"></strong></h3>
                    <br>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-6-md col-sm-12">
                <p style="font-size: 22px" th:text="#{error_p_1}"></p>
                <p style="font-size: 22px" th:text="#{error_p_2}"></p>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
    <script type="text/javascript" src="../static/js/RedirectScript.js" th:src="@{/js/RedirectScript.js}"></script>
</body>
</html>