<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(#{impressum_title})"></head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header th:replace="fragments/header :: header"></header>
    </div>

    <!-- Main content -->
    <main class="container">
        <h2 id="typewriter" th:data-typewriter="#{impressum_heading}" style="height: 2.5rem !important;">GND<strong>0</strong></h2>
        <hr />
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <h4 th:text="#{impressum_heading_2}"></h4>
                <p th:text="#{impressum_heading_2_p1}"></p>
                <p th:text="#{impressum_heading_2_p2}"></p>
                <p th:text="#{impressum_heading_2_p3}"></p>
                <p><span th:text="#{impressum_heading_2_p4}"></span><a class="impressum-link" href="https://www.linkedin.com/in/stamenko-dojcinovic-83b0201b6/" target="_blank">Stamenko Dojčinović</a>, <a class="impressum-link" href="https://www.linkedin.com/in/pedja-milakovic/" target="_blank">Peđa Milaković</a></p>
                <br>
                <h4 th:text="#{impressum_heading_3}"></h4>
                <p th:text="#{impressum_heading_3_p1}"></p>
                <!-- th:href="tel:#{impressum_heading_3_p2_link}" -->
                <!-- th:href="mailto:#{impressum_heading_3_p3_link}" -->
                <p><span th:text="#{impressum_heading_3_p2}"></span><a class="impressum-link" href="tel:+387 65 143 454" th:text="#{impressum_heading_3_p2_link}"></a></p>
                <p><span th:text="#{impressum_heading_3_p3}"></span><a class="impressum-link" href="mailto:info@groundzeroit.net" th:text="#{impressum_heading_3_p3_link}"></a></p>
                <br>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <h4 th:text="#{impressum_heading_4}"></h4>
                <p th:text="#{impressum_heading_4_p1}"></p>
                <p th:text="#{impressum_heading_4_p2}"></p>
                <p th:text="#{impressum_heading_4_p3}"></p>
                <br>
                <!--
                <h4>VAT ID</h4>
                <p>...</p>
                -->
            </div>
            <div class="col-12">
                <h4 th:text="#{impressum_heading_5}"></h4>
                <hr>
                <h5 th:text="#{impressum_heading_5_1}"></h5>
                <p th:text="#{impressum_heading_5_1_p}"></p>
                <br>
                <h5 th:text="#{impressum_heading_5_2}"></h5>
                <p th:text="#{impressum_heading_5_2_p}"></p>
                <br>
                <h5 th:text="#{impressum_heading_5_3}"></h5>
                <p th:text="#{impressum_heading_5_3_p}"></p>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
    <script type="text/javascript" src="../static/js/PedjangoJS.js" th:src="@{/js/PedjangoJS.js}"></script>
</body>
</html>