<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"> <!-- lang="en" -->
<head th:replace="fragments/head :: head(#{index_title})">
</head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header th:replace="fragments/header :: header"></header>
    </div>

    <!-- Main content -->
    <main class="container">
        <h2 id="typewriter" th:data-typewriter="#{home_heading}">GND<strong>0</strong></h2>
        <hr />
        <p th:text="#{home_p1}"></p>
        <p th:text="#{home_p2}"></p>

        <br>

        <!-- Services -->
        <h3 th:text="#{home_heading_2}"></h3>
        <hr>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="services-box">
                    <h4 th:text="#{home_services_box_1}"></h4>
                    <p th:text="#{home_services_box_1_p}"></p>
                    <a href="/services" th:href="@{/services}" class="btn btn-info mx-auto d-block" th:text="#{home_services_box_btn}"></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="services-box">
                    <h4 th:text="#{home_services_box_2}"></h4>
                    <p th:text="#{home_services_box_2_p}"></p>
                    <a href="/services" th:href="@{/services}" class="btn btn-info mx-auto d-block" th:text="#{home_services_box_btn}"></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="services-box">
                    <h4 th:text="#{home_services_box_3}"></h4>
                    <p th:text="#{home_services_box_3_p}"></p>
                    <a href="/services" th:href="@{/services}" class="btn btn-info mx-auto d-block" th:text="#{home_services_box_btn}"></a>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
    <script type="text/javascript" src="../static/js/PedjangoJS.js" th:src="@{/js/PedjangoJS.js}"></script>
    <script>
        $(".nav .nav-link").on("click", function(){
            $(".nav").find(".active").removeClass("active");
            $(this).addClass("active");
        });
    </script>
</body>
</html>