<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"> <!-- lang="en" -->
<head th:replace="fragments/head :: head('Ground Zero IT')">
</head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg navbar-expand-md">
                <img src="../static/img/black/groundzero__shortened_logo_black.png" class="img-fluid" id="image-bigger-screen" alt="Ground Zero IT Logo" th:src="@{/img/black/groundzero__shortened_logo_black.png}" />
                <img src="../static/img/black/groundzero__icon_2_black.png" class="img-fluid" id="image-smaller-screen" alt="Ground Zero IT Logo" th:src="@{/img/black/groundzero__icon_2_black.png}" />
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span style="font-size: 22px" class="dark-blue-text">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </span>
                </button>
                <!-- Navbar -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/" th:href="@{/}" th:text="#{nav_home}"></a></li> <!-- href="index.html" th:href="@{index.html}" -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav_about}"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href="/about" th:href="@{/about}" th:text="#{nav_about_us}"></a>
                                <a class="nav-link" href="/impressum" th:href="@{/impressum}" th:text="#{nav_impressum}"></a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/services" th:href="@{/services}" th:text="#{nav_services}"></a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact" th:href="@{/contact}" th:text="#{nav_contact}"></a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    <!-- Main content -->
    <main class="container">
        <h2 id="typewriter" th:data-typewriter="#{home_heading}">GND<strong>0</strong></h2> <!--  -->
        <!-- <h2 id="alternative-main-heading-text">Welcome to Ground Zero IT</h2> -->
        <hr />
        <p th:text="#{home_p1}"></p>
        <p th:text="#{home_p2}"></p>

        <br>

        <!-- Services -->
        <h3 th:text="#{home_heading_2}"></h3>
        <hr>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="services-box">
                    <h4 th:text="#{home_services_box_1}"></h4>
                    <p th:text="#{home_services_box_1_p}"></p>
                    <a href="/services" th:href="@{/services}" class="btn btn-info mx-auto d-block" th:text="#{home_services_box_btn}"></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="services-box">
                    <h4 th:text="#{home_services_box_2}"></h4>
                    <p th:text="#{home_services_box_2_p}"></p>
                    <a href="/services" th:href="@{/services}" class="btn btn-info mx-auto d-block" th:text="#{home_services_box_btn}"></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="services-box">
                    <h4 th:text="#{home_services_box_3}"></h4>
                    <p th:text="#{home_services_box_3_p}"></p>
                    <a href="/services" th:href="@{/services}" class="btn btn-info mx-auto d-block" th:text="#{home_services_box_btn}"></a>
                </div>
            </div>
        </div>
    </main>

    <div th:insert="fragments/footer :: footer"></div>
    <script type="text/javascript" src="../static/js/PedjangoJS.js" th:src="@{/js/PedjangoJS.js}"></script>
</body>
</html>