<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(#{services_title})">
</head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header th:replace="fragments/header :: header"></header>
    </div>

    <!-- Main content -->
    <main class="container">
        <h2 id="typewriter" th:data-typewriter="#{services_heading}" style="height: 2.5rem !important;">GND<strong>0</strong></h2>
        <hr />
        <p th:text="#{services_p1}"></p>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-9 ourServices">
                <h3 th:text="#{services_box_1}"></h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 text-center my-auto">
                        <i class="fa fa-desktop services-icons" aria-hidden="true"></i>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                        <p th:text="#{services_box_1_p}"></p>
                        <ul>
                            <li th:text="#{services_box_1_li}"></li>
                            <br/>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="/contact" th:href="@{/contact}" class="btn btn-submit" th:text="#{services_box_btn}"></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-9 ourServices">
                <h3 th:text="#{services_box_2}"></h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 text-center my-auto">
                        <i class="fa fa-mobile services-icons" aria-hidden="true"></i>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                        <p th:text="#{services_box_2_p}"></p>
                        <ul>
                            <li th:text="#{services_box_2_li_1}"></li>
                            <li th:text="#{services_box_2_li_2}"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="/contact" th:href="@{/contact}" class="btn btn-submit" th:text="#{services_box_btn}"></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-9 ourServices">
                <h3 th:text="#{services_box_3}"></h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 text-center my-auto">
                        <i class="fa fa-database services-icons" aria-hidden="true"></i>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                        <p th:text="#{services_box_3_p}"></p>
                        <ul>
                            <li th:text="#{services_box_3_li}"></li>
                            <br/>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="/contact" th:href="@{/contact}" class="btn btn-submit" th:text="#{services_box_btn}"></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-9 ourServices">
                <h3 th:text="#{services_box_4}"></h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 text-center my-auto">
                        <i class="fa fa-archive services-icons" aria-hidden="true"></i>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                        <p th:text="#{services_box_4_p}"></p>
                        <div class="row">
                            <div class="col-6">
                                <ul>
                                    <li th:text="#{services_box_4_li_1}"></li>
                                    <li th:text="#{services_box_4_li_2}"></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    <li th:text="#{services_box_4_li_3}"></li>
                                    <li th:text="#{services_box_4_li_4}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="/contact" th:href="@{/contact}" class="btn btn-submit" th:text="#{services_box_btn}"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
    <script type="text/javascript" src="../static/js/PedjangoJS.js" th:src="@{/js/PedjangoJS.js}"></script>
</body>
</html>