<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(#{thanks_title})">
</head>
<body>
    <!-- Header and navigation -->
    <div class="container-fluid">
        <header th:replace="fragments/header :: header"></header>
    </div>

    <!-- Main content -->
    <main class="container">
        <h2 th:text="#{thanks_hading}"></h2>
        <hr />
        <h5 th:text="#{thanks_hading_2}"></h5>
        <h5><em th:text="#{thanks_hading_3}"></em></h5><br>
        <img id="thanks-image" src="../static/img/GroundZeroITimage.png" th:src="@{/img/GroundZeroITimage.png}" alt="Ground Zero IT" class="img-fluid">
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
    <script type="text/javascript" src="../static/js/RedirectScript.js" th:src="@{/js/RedirectScript.js}"></script>
</body>
</html>